################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/.vs/ZnodePublishUtility
/publish_health/publish_health/obj
/ZnodePublishUtility
/ZnodePublishUtility.API/obj
/ZnodePublishUtility.API.Tests
/ZnodePublishUtility.API/bin/Debug/net8.0
